<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424919116755-411ka4buio6krlq0ih4e0n0tk496i6hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424919116755-411ka4buio6krlq0ih4e0n0tk496i6hl</string>
	<key>API_KEY</key>
	<string>AIzaSyCuio_M8_XbSRFAKw-GWUe-RP-AxKYQAHw</string>
	<key>GCM_SENDER_ID</key>
	<string>424919116755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teethaffairs</string>
	<key>PROJECT_ID</key>
	<string>mimetic-slate-252012</string>
	<key>STORAGE_BUCKET</key>
	<string>mimetic-slate-252012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424919116755:ios:aa89b1ce3e36133d2f9d26</string>
	<key>DATABASE_URL</key>
	<string>https://mimetic-slate-252012.firebaseio.com</string>
</dict>
</plist>